

button {
  background:    #3d85c6;
background:    linear-gradient(#3d85c6, #073763);
border-radius: 0px;
padding:       8px 20px;
color:         #ffffff;
display:       inline-block;
font-family:    'sans-serif';
text-align:    center;
text-shadow:   1px 1px #000000;


}
  
.button {
  background:    #3d85c6;
  background:    linear-gradient(#3d85c6, #073763);
  border-radius: 0px;
  padding:       8px 20px;
  color:         #ffffff;
  display:       inline-block;
  font-family:    'sans-serif';
  text-align:    center;
  text-shadow:   1px 1px #000000;
}

.button__checkout {
  display: block;

  &:disabled {
    background: grey;
  }
}