.footer {
    background-color: #0d2b4c;
    display: flex;
    justify-content: center;
    width: 100%; 
    
  }
  
  .footer-inner {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    div {
      display: flex;
      flex-direction: column;
    }
  
    a {
      text-decoration: none;
      color: white;
    }
  }