.container--lessonCard {
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 10px;
    cursor: pointer;
}

.image--lessonCard {
    flex: 1;
}

.info--lessonCard {
    flex: 1;
    color: black;
}