.drawer {
    height: 100vh;
    width: 80vw;
    position: fixed;
    left: 0;
    top: 0;
    background: $primary;
    z-index: 5;
    // display: none;
    transform: translate3d(-100vw, 0, 0);
    transition: transform 1000ms;
    
    &.open {
        transform: translate3d(0vw, 0, 0);
    }

    
}

.mobile-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    ul {
        list-style: none;
        color: white;

        li {
            position: relative;
            border: 2px solid white;
        }
    }
}

.mobile-nav__item--list {
    // visibility: hidden;   
    display: none;
    &.expand {
        display: block;
    }
}

