.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    input {
        background-color: #eee;
	        border: none;
	        padding: 12px 15px;
	        margin: 8px 0;
    }
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $primary;
    color: white;
    padding: 30px;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button__checkout--container {
    width: 100%;
    display:flex;
    justify-content: center;
    padding-top: 1rem;
}